* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    border: solid 2px white;
}

.wrapper {
    grid-column: 2;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-flow: column;
    padding: 0.2em;
}

.line {
    display: flex;
    flex-flow: row;
    align-items: center;
    color: white;
    font-size: 1.5em;
}

img.icons {
    height: 23vh;
    width: 12vw;
}

img {
    width: 45vw;
    align-self: center;
    justify-self: center;
}