/* #hands {
  width: 200px;
  height: auto;
} */
* {
  margin: 0;
  border: 0;
}

p {
  font-family: sans-serif;
  margin-left: 3vw;
  font-size: 1.3rem;
}
body {
  overflow: hidden;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#startButton {
  background-color: rgb(57, 155, 155);
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  border-radius: 25px;
  width: 100px;
  height: 50px;
  top: 50vh;
  left: 50vw;
  position: absolute;
  z-index: 1000;
}

#timeBarWrapper {
  width: 35vw;
  height: 3vh;
  position: absolute;
  top: 3vh;
  left: 3vw;
}

#timerContent {
  /* border: 1px solid black; */
  background-color: #82d197;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

#timerBox {
  border: 1px solid black;
  border-radius: 25px;
  width: 35vw;
  height: 3vh;
  position: absolute;
  /* top: 5vh; */
  left: 3vw;
}

/* #svgHolder {
  width: 100%;
}

#svgHolder svg {
  width: 100%;
} */

.bounce1 {
  animation: bounce1 1.5s ease-in infinite;
  animation-timing-function: linear;
}

@keyframes bounce1 {
  0% {
    transform: translate();
  }
  20% {
  }
  40% {
    transform: translate(1100px, 700px);
  }
  50% {
    transform: translate(1200px, 600px);
  }
  60% {
    transform: translate(1300px, 550px);
  }
  70% {
    transform: translate(1350px, 600px);
  }
  80% {
    transform: translate(1400px, 850px);
  }
  85% {
    transform: translate(1400px, 875px);
  }
  90% {
    transform: translate(1450px, 900px);
  }
  100% {
    transform: translate(1475px, 950px);
  }
}

.bounce2 {
  animation: bounce2 1.5s ease-in infinite;
  animation-timing-function: linear;
}

@keyframes bounce2 {
  0% {
    transform: translate();
  }
  20% {
  }
  40% {
    transform: translate(1100px, 700px);
  }
  50% {
    transform: translate(900px, 600px);
  }

  60% {
    transform: translate(800px, 650px);
  }

  75% {
    transform: translate(700px, 700px);
  }

  100% {
    transform: translate(650px, 950px);
  }
}

/* 
@keyframes fall {
  0% {
    transform: translateY();
  }
  100% {
    transform: translate(1100px, 950px);
  }
} */

/* .follow {
  transform-origin: center;
  offset-path: path(
    "M1534.91,1100.14c-26.13-63.45-95.15-167.04-149.65-188.61c-44.1-17.45-91.56-13.62-137.72-9.6 c-35.7,3.1-53.5,17.6-83.39,42.15c-24.92,20.47-47.5,78.43-59.5,112.5l-0.99-500.63"
  );
  animation: path 2s 1 forwards reverse;
} */
